[MASTER]
ignore=CVS,tests
persistent=yes
load-plugins=

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
disable=C0111,R0903

[DESIGN]
max-args=5
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=1

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[BASIC]
good-names=i,j,k,ex,Run,_
class-rgx=^[A-Z][a-zA-Z0-9]*$
function-rgx=^[a-z][a-zA-Z0-9_]*$
variable-rgx=^[a-z][a-zA-Z0-9_]*$

[IMPORTS]
known-third-party=enchant 